BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: Yes
CommentPragmas: 'SPDX-(FileCopyrightText|License-Identifier)'
IncludeCategories:
  - Regex:           '^<'
    Priority:        3
  - Regex:           '^"(cudaq|\.\.)/'
    Priority:        2
  - Regex:           '.*'
    Priority:        1
InsertNewlineAtEOF: Yes
